modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build_command = "npm run build"
run_command = ""
output_dir = "dist"
run = ["sh", "-c", "npm run dev"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
